<div class="visual-area container">
  <div class="row">
    <div class="col-sm">
      <p>The easiest way for users
        <strong>to connect their bank
          accounts to an app.</strong></p>

      <p>Deploy, manage, and scale cloud applications faster
        and More efficiently on Code F. </p>

      <form>
        <div class="form-row">
          <div class="d-flex">
            <input type="text" class="form-control form-control-lg" placeholder="Your email">
          </div>
          <div class="d-flex ml-2">
            <button type="submit" class="btn btn-primary form-control-lg">Get API keys</button>
          </div>
        </div>

        <p class="form-text text-muted mt-3">By signing up you agree to the <a href="">Terms of Service.</a></p>
      </form>

    </div>
    <div class="col-sm  visual justify-content-center">
      <img src="../../assets/images/iphone.png" alt="" class="align-self-end">
    </div>
  </div>
</div>

<div class="cs-area">
  <div class="container">
    <p>INNOVATIVE BUSINESSES TRUST CODE F</p>
    <a href="">View customer stories</a>
  </div>
</div>

<div class="api-area">
  <div class="container">

    <div class="title">
      <h3>Code F API</h3>
      <p>Our optimized configuration process saves your team time when running and scaling distributed applications,
        AI & machine learning workloads, hosted services, client websites, or CI/CD environments.</p>
    </div>

    <!--<div class="row flex-md-nowrap">-->
    <div class="row">

      <div id="list-example" class="list-group col-sm-2">
        <a class="list-group-item list-group-item-action" href="#list-item-1">Curl</a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">Go</a>
        <a class="list-group-item list-group-item-action active" href="#list-item-3">Java</a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">Ruby</a>
      </div>

      <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example col-sm">
        <h4 id="list-item-1" class="sr-only">Item 1</h4>

        <!--<pre class="line-numbers language-html" data-src="./html/main/_code.html"></pre>-->
        <pre></pre>

        <h4 id="list-item-2" class="sr-only">Item 2</h4>

        <h4 id="list-item-3" class="sr-only">Item 3</h4>

        <h4 id="list-item-4" class="sr-only">Item 4</h4>

      </div>

    </div>

  </div>
</div>

<div class="biz-area">
  <div class="container">
    <h3>The features your business needs</h3>
    <div class="row flex-md-nowrap">
      <div class="col-md">
        <h4>One account, <br>
          multiple teams</h4>
        <p>Leave complex pricing structures
          behind. Always know what you’ll
          pay per month with a flat,
          industry-leading pricing structure.</p>
        <a href="#none">More</a>
      </div>
      <div class="col-md">
        <h4>One account, <br>
          multiple teams</h4>
        <p>Leave complex pricing structures
          behind. Always know what you’ll
          pay per month with a flat,
          industry-leading pricing structure.</p>
        <a href="#none">More</a>
      </div>
      <div class="col-md">
        <h4>One account, <br>
          multiple teams</h4>
        <p>Leave complex pricing structures
          behind. Always know what you’ll
          pay per month with a flat,
          industry-leading pricing structure.</p>
        <a href="#none">More</a>
      </div>
    </div>
  </div>
</div>
