<div class="bg-base">

  <div class="content-header">
    <h2>codeF 계정 생성</h2>
    <ol class="account-progress">
      <li>약관동의</li>
      <li>정보입력</li>
      <li>가입인증</li>
      <li>가입완료</li>
    </ol>
  </div>


  <div class="content-body">

    <div class="account-step1">

      <div class="account-header">

        <div class="title">
          <label class="" for="exampleCheck1">모두 확인, 동의합니다.</label>
          <input type="checkbox" class="" id="exampleCheck1">
        </div>

        <p class="description">전체동의는 필수 및 선택정보에 대한 동의도 포함되어 있으며, 개별적으로도 동의를 선택하실 수 있습니다. <br>
          선택항목에 대한 동의를 거부하시는 경우에도 서비스는 이용이 가능합니다.</p>

      </div>


      <ul class="terms-list">
        <li>
          <div>codeF 서비스 약관 <small class="required">(필수)</small></div>
          <div>
            <button class="btn btn-primary btn-sm mr-2">보기</button>
            <input type="checkbox" name="" id="">
          </div>
        </li>
        <li>
          <div>개인정보 수집 및 이용동의 <small class="required">(필수)</small></div>
          <div>
            <button class="btn btn-primary btn-sm mr-2">보기</button>
            <input type="checkbox" name="" id="">
          </div>
        </li>
        <li>
          <div>이벤트 및 마케팅 활용 동의 <small class="">(선택)</small></div>
          <div>
            <button class="btn btn-primary btn-sm mr-2">보기</button>
            <input type="checkbox" name="" id="">
          </div>
        </li>
      </ul>


      <div class="account-footer">
        <button type="submit" class="btn btn-primary btn-lg">다음</button>
      </div>
    </div>
    <div class="account-step2">

    </div>
    <div class="account-step3">

    </div>
    <div class="account-step4">

    </div>
  </div>

</div>
